h1{
   font-size: 65px;color: rgb(0, 0, 0); font-family: 'Amatic SC', sans-serif;display: flex;justify-content: center;

}
h2{
  
   font-size: 40px;color: rgba(0, 0, 0, 0.507);font-family: 'Amatic SC', cursive,sans-serif;display: flex;justify-content: center;
}
h3{
   font-family: 'Caveat', cursive;font-size: 25px;display: flex;justify-content: center;

}
body{

   background-color: #92B6B1;  
}
a{
   font-family: 'Caveat', cursive;font-size: 20px;
   text-decoration:none;
   }
   .button {
      background-color: black;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
    }
    .egg{
       opacity: 0;
      padding: 15px 32px;
      font-size: 20px;
      cursor:  no-drop;
    }
*{
   box-sizing:border-box;
   margin:5px;
   padding:0;
   }

 
lic a{
   font-family: 'Caveat', cursive;font-size: 20px;
   text-decoration:none;
   display:inline-block;
   position: relative;
   top: -46px;
   padding:8px 10px;
   width:120px;
   height:80px;
   border:1px solid #000;
   color:rgb(0, 0, 0);
   }


lib a{
      font-family: 'Caveat', cursive;font-size: 30;
      text-decoration:none;
      display:inline-block;
      padding:5px 10px;
      width:120px;
      height:80px;
      border:1px solid #000;
      color:#000;
      }
         
.more{
   display:inline-block;
   position:absolute;
   right:0px;
   font-size:30px;
   }
.lista{
   display: flex;
   justify-content: center;

}
.Caja1{
   display: flex;
   justify-content: center;
}
.eg{
   display: flex;justify-content: flex-end;

}
.pagina {

display:flex;flex-direction: column;


}